@page "/"

<div style="text-align: center;">
    <h1>Workshop 4 Mayo!</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-6" style="top: -6em; text-align: center">
            <a href="https://4mayo.ro/">
                <img alt="4mayo-logo" src="https://4mayo.ro/wp-content/uploads/2020/03/Logo_4MAYO.png" style="width:20em"/>
            </a>
        </div>
        <div class="col-6" style="text-align: center">
            <a href="https://www.suvoda.com/en-us/about-us/careers">
                <img alt="suvoda-logo" src="https://www.suvoda.com/hubfs/2017_redesign/SuvodaNoTag.png" style="width:20em"/>
            </a>
        </div>
    </div>
</div>